.header {
  color: green;
  text-align: center;
}

.first_rows :nth-child(odd) {
  background-color: yellow;
}

.second_rows_middle {
  background-color: yellow;
}

.rowspan {
  background-color: blue;
  color: white;
}

.last_element {
  background-color: yellow;
}
