.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 580px);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  justify-items: center;
  align-items: center;
  margin-top: 150px;
  justify-content: center;
}

.class {
  width: 200px;
  height: 250px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  line-height: 250px;
}

.bgc1 {
  background-color: orange;
  border: 2px solid black;
  justify-self: end;
}

.bgc2 {
  background-color: pink;
  border: 2px solid black;
}

.bgc3 {
  background-color: greenyellow;
  border: 2px solid black;
  margin: 10px 0px 10px 200px;
}

.bgc4 {
  background-color: blue;
  border: 2px solid black;
  margin: 10px;
  width: 500px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
}
