@font-face {
  font-family: "Helvetica", bold;
  src: url(/IT_Generation/Get\ acquainted/fonts/helvetica_bold.ttf)
    format("truetype");
}
body {
  font-family: "Helvetica";
  font-size: 30px;
  color: #606060;
}
h1,
h2 {
  color: #0844a4;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template:
    "acquainted" 1fr
    "about" 1fr
    "experience" 1fr
    "start-interests" 1fr
    "last_block" auto
    "footer" minmax(100px, auto);
  grid-auto-rows: auto;
}

.to_top {
  right: 50px;
  bottom: 50px;
  position: absolute;
  text-decoration: none;
  font-weight: 600;
}

/* start let's get acquainted */
.acquainted {
  grid-area: acquainted;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acquainted:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url(/IT_Generation/Get\ acquainted/image/ren.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.acquainted_conten {
  font-size: 50px;
  border: 5px solid #0844a4;
  padding: 40px;
  z-index: 2;
}
.acquainted_button_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.acquainted_buttom {
  margin: 30px 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  border: 1px solid rgb(20, 6, 6);
  border-radius: 10px;
  width: 300px;
  height: 100px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  background-color: RGB(14, 41, 249);
  cursor: pointer;
}
.acquainted_buttom:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px RGB(14, 41, 249), 0 3px 6px RGB(14, 41, 249);
}
.acquainted_buttom:active {
  background-color: RGB(10, 21, 200);
}
.button_block_link {
  color: white;
}
/* end let's get acquainted */

/* start about */
.about {
  grid-area: about;
  grid-auto-rows: auto;
  height: 100vh;
  position: relative;
}

.sidebar_menu {
  margin: 50px 0;
}

.sidebar_list {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.sidebar_link {
  box-sizing: border-box;
  display: block;
  margin-left: 10px;
  padding: 0 35px;
  text-decoration: none;
  font-size: 30px;
  color: #0844a4;
  font-weight: 600;
}

.sidebar_list li:nth-child(-n + 3) {
  border-right: 3px solid RGB(202, 202, 202);
}

.sidebar_link:link {
  color: #0844a4;
}

.sidebar_link:visited {
  color: #0844a4;
}

.sidebar_link:focus {
  color: #7b93b8;
}

.sidebar_link:hover {
  box-sizing: border-box;
  color: #010a18;
}

.sidebar_link:active {
  color: #7b93b8;
}

.title_about {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin-left: 200px;
  margin-bottom: 15px;
}
.about_container {
  display: flex;
  justify-content: space-around;
}

.title_about_photo {
  width: 400px;
  height: 450px;
  border-radius: 50px 100px;
}

.about_content {
  display: flex;
  flex-direction: column;
}

.about_content_me {
  font-size: 20px;
  align-self: center;
  width: 50vh;
}

.my_qualities {
  display: flex;
  gap: 150px;
  margin-top: 100px;
}

.my_strengths {
  position: relative;
  width: 300px;
}

.my_strengths:before {
  content: "";
  background-image: url(/IT_Generation/Get\ acquainted/image/interface_checkmark_check_success_circle_icon_133028.svg);
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  position: absolute;
  opacity: 0.5;
  margin: 20px 0px 0px -100px;
}

.my_strengths:hover:before {
  background-color: rgb(151, 210, 235);
}

.my_goal {
  position: relative;
  width: 300px;
}

.my_goal:before {
  content: "";
  background-image: url(/IT_Generation/Get\ acquainted/image/interface_checkmark_check_success_circle_icon_133028.svg);
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  position: absolute;
  opacity: 0.5;
  margin: 20px 0px 0px -100px;
}

.my_goal:hover:before {
  background-color: rgb(151, 210, 235);
}

.my_dream {
  position: relative;
  width: 300px;
}

.my_dream:before {
  content: "";
  background-image: url(/IT_Generation/Get\ acquainted/image/interface_checkmark_check_success_circle_icon_133028.svg);
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: block;
  position: absolute;
  opacity: 0.5;
  margin: 20px 0px 0px -100px;
}

.my_dream:hover:before {
  background-color: rgb(151, 210, 235);
}
/* end about */

/* start experience */
.experience {
  position: relative;
  grid-area: experience;
  height: 100vh;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.experience_title {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 50px;
}
.experince_block_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "not_frontend diagram in_frontent";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.experience_not_frontend {
  grid-area: not_frontend;
  justify-self: center;
  width: 450px;
  height: auto;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience_not_frontend_content {
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.diagramblock {
  grid-area: diagram;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.diagramblock_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.diagramblock1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -80px;
}
.css {
  color: black;
  border: 1px solid black;
  background-color: RGB(20, 100, 246);
  padding: 10px;
  border-radius: 25px;
  font-size: 25px;
  width: 80px;
}
.html {
  color: black;
  border: 1px solid black;
  background-color: RGB(255, 56, 35);
  padding: 10px;
  border-radius: 25px;
  font-size: 25px;
  width: 80px;
}
.php {
  color: black;
  border: 1px solid black;
  background-color: RGB(254, 198, 61);
  padding: 10px;
  border-radius: 25px;
  font-size: 25px;
  width: 80px;
}
.js {
  color: black;
  border: 1px solid black;
  background-color: RGB(98, 156, 68);
  padding: 10px;
  border-radius: 25px;
  font-size: 25px;
  width: 80px;
}
.pie-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.pie-container::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 50;
  width: 50%;
  height: 50%;
  color: white;
  background-color: #f5f5f5;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}

.pie {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
  border-radius: 50%;
  clip: rect(0px, 75px, 150px, 0px);
}

#js {
  z-index: 10;
  background-color: RGB(98, 156, 68);
  transform: rotate(-20deg);
}

#php {
  z-index: 20;
  background-color: RGB(254, 198, 61);
  transform: rotate(160deg);
}

#html5 {
  z-index: 30;
  background-color: RGB(255, 56, 35);
  transform: rotate(20deg);
}

#css {
  z-index: 40;
  background-color: RGB(20, 100, 246);
  transform: rotate(100deg);
}

.stats {
  float: left;
  margin-left: 50px;
}

ul {
  list-style: none;
}

li {
  position: relative;
  margin: 10px 0;
}

.lenguage {
  display: flex;
  gap: 20px;
}

.experience_in_frontend {
  grid-area: in_frontent;
  justify-self: center;
  box-sizing: border-box;
  width: 450px;
  height: auto;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience_not_frontend_content {
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}
.experience_in_frontend_block {
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}
/* end experience */

/* start interest's */
.start-interests {
  grid-area: start-interests;
  position: relative;
  height: 100vh;
  border-bottom: 1px solid grey;
}
.start-interests_title {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 50px;
}
.start-interests_conten {
  display: flex;
  justify-content: space-around;
}

.interest2_content {
  width: 400px;
  margin: 20px 0px 0px 150px;
}

.interest1_content {
  width: 400px;
  margin: 0px 0px 50px -100px;
}
.interest1_photo_img2 {
  height: 500px;
  border-radius: 30px 100px;
}
.interest1_photo_img1 {
  width: 550px;

  border-radius: 100px 30px;
}
/* end interes't */

/* start get in touch */
.last_block {
  grid-area: last_block;
  position: relative;

  border-bottom: 1px solid grey;
}
.last_block_title {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 50px;
}
.last_block_information {
  display: flex;
  align-self: center;
  justify-content: center;
}
.last_block_content {
  display: flex;
  align-self: center;
  justify-content: center;
}

.textarea_block {
  width: 900px;
  border: 2px solid #0844a4;
  font-size: 30px;
  padding: 15px;
}
.name_block {
  border: 2px solid #0844a4;
  padding: 15px;
}
.email_block {
  border: 2px solid #0844a4;
  padding: 15px;
}
.button_block {
  width: 183px;
  height: 67px;
  background-color: #0844a4;
  color: white;
  margin-bottom: 200px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgb(20, 6, 6);
  cursor: pointer;
}
.button_block:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px RGB(14, 41, 249), 0 3px 6px RGB(14, 41, 249);
}
.button_block:active {
  background-color: RGB(10, 21, 200);
}

/* end get in touch */

/* start footer */
.footer {
  grid-area: footer;
  background-color: #0844a4;
  position: relative;
}
.block-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-top: 20px;
}
.link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2.5%;
}

.link:hover {
  color: #90d78d;
  cursor: pointer;
}

.link:active {
  color: #58d094;
}
.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 30px 0px;
}

.to_top_footer {
  right: 50px;
  bottom: 5px;
  position: absolute;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
/* end footer */
