@use "sass:math";
@import "normalize";
@import "varibles";
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;700&family=Volkhov:wght@700&display=swap');


body{
 min-height: 100vh;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 500;
 @include fluidFontSize(16px, 20px, 480px, 1280px, 18px);
 line-height: 30px;
 letter-spacing: 0.005em;
 color: #5E6282;  
}

.wrapper {
 display: grid;
 grid-template-areas: 
 'header' 
 'sevices'
 'destinations'
 'book-a-trip'
 'testimonials-section'
 'logos'
 'subscribe-section'
 'footer';
}

._container {  
  max-width: 1167px;     
  margin: 0px auto;   
  padding: 0 15px;  
}

// first block start
.header {
  position: relative;
  grid-area: header;
  margin-top: 48,7px;  
}
.header__container{
  display: flex;
  align-items: center;
  margin: 0px auto; 
}
.header__left-bg {
  position: absolute;
  z-index: -2;
  left: 0;  
  .header__left-bg_circle {
    width: 100%;
    height: auto;   
  }
}

.header__right-bg{
  position: absolute;
  z-index: -2;
  right: 0;  
  .decore{
    width: 100%;
    height: auto;   
  }
}

.header__woman-bg{
  position: absolute;
  z-index: -1;
  top: 105px;
  right: 91.13px; 
  .img-woman{
    width: 100%;
    height: auto;   
  }
}


.righ-plane{
  position: absolute;
  z-index: -2;
  top: 208px;
  right: 91.13px; 
  .righ-plane__not-animation{
    max-width: 100%;
    max-height: auto;   
    transform: rotate(-31.84deg);   
}
}

.left-plane{
  position: absolute;
  z-index: 1;
  top: 161px;
  right: 575.13px; 
  .left-plane__animation{
    max-width: 100%;
    max-height: auto;
    transform: rotate(-31.84deg); 
  }
  .left-plane__animation:hover{      
      animation: plane 3s ease-in-out infinite;
      -webkit-animation: plane 3s LI infinite;
      @keyframes plane {
         25% { transform: translate(150px, -95px) rotate(-45deg) scale(0.7); -webkit-transform: translate(150px, -95px) rotate(-45deg) scale(0.7); -moz-transform: translate(150px, -95px) rotate(-45deg) scale(0.7); -ms-transform: translate(150px, -95px) rotate(-45deg) scale(0.7); -o-transform: translate(150px, -95px) rotate(-45deg) scale(0.7); }
         45% { opacity: 0.4; transform: translate(350px, -355px) rotate(-45deg) scale(0.3) ; -webkit-transform: translate(350px, -355px) rotate(-45deg) scale(0.3) ; -moz-transform: translate(350px, -355px) rotate(-45deg) scale(0.3) ; -ms-transform: translate(350px, -355px) rotate(-45deg) scale(0.3) ; -o-transform: translate(350px, -355px) rotate(-45deg) scale(0.3) ; }
         50% { opacity: 0.8; transform: translate(-500px, -250px) rotate(65deg) scale(0.5); -webkit-transform: translate(-500px, -250px) rotate(65deg) scale(0.5); -moz-transform: translate(-500px, -250px) rotate(65deg) scale(0.5); -ms-transform: translate(-500px, -250px) rotate(65deg) scale(0.5); -o-transform: translate(-500px, -250px) rotate(65deg) scale(0.5); }       
       }
    }
  }

.logo {
  width: auto;
  max-width: 114.91;
  height: auto;
}
.nav__list_border-nav1{
  @include border-nav;
  margin-right: 4.20vw;
  margin-left: 19.45vw;
  overflow: hidden;  
}
.nav__list_border-nav1:hover{
  border: 1px solid rgba(0,0,0,1);
}
.nav__list_border-nav2{
  @include border-nav;
  margin-right: 58px;
}
.nav__list_border-nav2:hover{
  border: 1px solid rgba(0,0,0,1);
}
.nav__list_border-nav3{
  @include border-nav;
  margin-right: vw(56);
}
.nav__list_border-nav3:hover{
  border: 1px solid rgba(0,0,0,1);
}
.nav__list_border-nav4{
  @include border-nav;
  margin-right: vw(80);
}
.nav__list_border-nav4:hover{
  border: 1px solid rgba(0,0,0,1);
}
.nav__list_border-nav5{
  @include border-nav;
  margin-right: vw(46);
}
.nav__list_border-nav5:hover{
  border: 1px solid rgba(0,0,0,1);
}
.nav__list_border-nav6{
  @include border-nav;
  margin-right: vw(36);
}
.nav__list_border-nav6:hover{
  border: 1px solid rgba(0,0,0,1);
  
}
.nav__list{
  display: flex;
  list-style: none; 
  align-items: center;
  padding: 0;    
}

.menu_link {  
  text-decoration: none;
  white-space: nowrap;  
  @include fonts-nav;
  &:hover{
    color: rgb(25, 98, 98);    
}
}
.nav__item{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav__item:hover{
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.dropbtn {
  padding: 5px;
  cursor: pointer;
  width: 40px;
  @include fonts-nav;   
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF1DA;
  width: 140px;
  border: 1px solid rgb(36, 36, 43);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 2px;}


.dropbtn::after {
  background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center center;
  content: "";
  height: 16px;
  position: absolute;
  right: 0;
  top: 7px;
  width: 16px;    
}

.dropdown-content a:first-child {
background: url('https://icons.iconarchive.com/icons/fatcow/farm-fresh/16/flag-usa-icon.png') no-repeat left center;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  @include fluidFontSize(15px, 17px, 480px, 1280px, 16px);  
  line-height: 22px; 
  color: $top-nav; 
}

.dropdown-content a:last-child{
background: url('') no-repeat left center;
font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
@include fluidFontSize(15px, 17px, 480px, 1280px, 16px);  
line-height: 22px; 
color: $top-nav; 
}

.dropdown-content a {
  color: black;
  padding: 2px 0 2px 25px;
  text-decoration: none;
  display: block;    
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: 65px
  
}

.desc {
  width: 100%;
  max-width: 547px;
  height: auto;
  margin-top: 130px; 
  margin-bottom: 117px;
}

.desc__title {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
@include fluidFontSize(16px, 20px, 480px, 1280px, 18px);
line-height: 30px;
text-transform: uppercase;
color: #DF6951;
}

.desc__text {
font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
@include fluidFontSize(30px, 84px, 480px, 1280px, 60px);
line-height: 89px;
letter-spacing: -0.04em;
color: #181E4B;
margin-top: 24px;
}

.desc__heading {
  margin-top: 30px;
}

.desc__botton {
  margin-top: 34px;
  display: flex;
  gap: 44px;
  align-items: center;
}
.desc__botton_first-botton {
  width: 170px;
  height: 60px;
  background: #F1A501;
  color: white;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;  
  &:hover{
    cursor: pointer;
    background-color: #d69507;
  }  
}

.desc__botton_second-bottom-inp{
  position: relative; 
  border: 1px solid grey;
  width: 165px;
  height: 52px;
}

.desc__botton_second-botton {  
  display: inline-block;
  cursor: pointer; 
  background: rgba(0, 0, 0, 0);
  border: none; 
  margin-left: 50px;
}

.desc__botton_second-bottom_circle_img{
  position: absolute;
  z-index: -1;  
  left:0;   
}

// first block end

// second block start
.sevices {
  grid-area: sevices;  
  position: relative;
  &::after{
    content: url(../images/Group\ 4.png);
    position: absolute;
    top: 90px;
    right: 58px;
    z-index: -2;
  }  
}

.sevices__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 97px;
}

.sevices__category {
  font-weight: 600;
  @include fluidFontSize(16px, 18px, 480px, 1280px, 17px);
  line-height: 27px;
  margin-bottom: 10px;
 
}

.sevices__titlle {
  @include font-title;
  margin-bottom: 67px;  
}

.sevices__card-block {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.sevices__card-block_card_img {
  display: block;
  margin: 0 auto;   
}
.sevices__card-block_card_title {
  @include font-title-card; 
  margin-top: 29px; 
  margin-bottom: 15px;
}

.sevices__card-block_card_content {
  width: 230px;  
  text-align: center;
  padding: 9px;
}

.img2_position_block { 
  margin-bottom: 80px; 
}

.img2_position {
  position: relative;
  top: 45px;
}

.sevices__card-block_card{
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 36px;  
  position: relative; 
}


.sevices__card-block_card:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); 
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  z-index: 1;
  
  .ractagle{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #DF6951;
    border-radius: 30px 0px 10px;
    left: -40px;
    top: 190px;
    z-index: -4;
    opacity: 1;
   
  }
  .ractagle_block2{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #DF6951;
    border-radius: 30px 0px 10px;
    left: -30px;
    top: 260px;
    z-index: -4;
    opacity: 1;
  }

}
.ractagle{
  position: absolute;
  width: 100px;
  height: 100px;
  background: #DF6951;
  border-radius: 30px 0px 10px;
  left: -40px;
  top: 190px;
  z-index: -3;
  opacity: 0;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}

.ractagle_block2{
  left: -30px;
  top: 260px;
  transition: .8s;
  z-index: -3;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}
// second block end

// third block start
.destinations {
  grid-area: destinations;  
}
.destinations__content{
  position: relative;
  margin-bottom: 186px;
  &::after{
    content: url(../images/Decore3.svg);
    position: absolute;
    top: 320px;
    right: 10px;
    z-index: -2;
  }
}
.destinations__subheading{
  font-weight: 600;
  @include fluidFontSize(16px, 18px, 480px, 1280px, 17px);
  line-height: 27px;
  margin-bottom: 8px; 
  display: flex;
  align-items: center; 
  justify-content: center;  
}

.destinations__titlle{
  @include font-title;
  margin-bottom: 60px; 
}

.destinations__block-card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.destinations__block-card_card{
  position: relative;
  width: 315px;
  height: 457px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  overflow: hidden;  
}
.destinations__block-card_card_img{
  border-radius: 40px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;  
  &:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
}


.destinations__block-card_card1_wrap{
box-sizing: border-box;
position: absolute;
bottom: 0;
background-color: #fff;
width: 100%;
height: 130px;
border-radius: 0px 0px 24px 24px;
padding: 0 20px;
}
.destinations__block-card_content{
  display: flex;
  justify-content: space-between; 
  margin-top: 27px;
  margin-bottom: 19px;
}

.destinations__block-card_content_amount-days::before{
  content: url(../icons/Navigation.svg);
  margin-right: 10px;
  position: relative;
  top: 2px;
}

// third block end

// fourth block start
.book-a-trip {
  grid-area: book-a-trip;
  border: 1px solid grey;
}

.book-a-trip__inner{
  display: flex;
  gap: 118px ;
  align-items: center;
  justify-content: center;
}

.book-a-trip__section1_subheading{
  font-weight: 600;
  @include fluidFontSize(16px, 18px, 480px, 1280px, 17px);
  line-height: 27px;
  margin-bottom: 15px;
}
.book-a-trip__section1_tittle{
@include font-title;
  margin-bottom: 31px;  
  text-align: start;
}


.book-a-trip__section1_content-block_block::before{
  content: url(../icons/Group\ 7.png);
}

.book-a-trip__section1_content-block_block h5{  
  font-weight: 600;
  @include fluidFontSize(14px, 16px, 480px, 1280px, 15px);
  line-height: 27px; 
  margin-bottom: 4px;
}

.book-a-trip__section1_content-block_block p{
  display: inline-block;
  margin: 0;
}

// fourth block end

// fifth block start
.testimonials-section {
  grid-area: testimonials-section;
}
// fifth block end

// sixth block start
.logos {
  grid-area: logos;
}
// sixth block end

// seventh block start
.subscribe-section {
  grid-area: subscribe-section;
}
// seventh block end

// eighth block start
.footer {
  grid-area: footer;
}
// eighth block end